/* When slide-style is: normal */

.slide[data-slide-style=normal] {font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;}
.slide[data-slide-style=normal][data-slide-type=title] {background-color:#fff;}
.slide[data-slide-style=normal]:not([data-slide-type=title]) {background-color:#fff;}

.slide[data-slide-style=normal] .h1 {color:#333 !important;}
.slide[data-slide-style=normal] .h2 {color:#666 !important;}

/* When slide-style is: futuristic */

.slide[data-slide-style=futuristic] {font-family:'TeXGyreAdventor';}
.slide[data-slide-style=futuristic][data-slide-type=title] {background-color:#eff;}
.slide[data-slide-style=futuristic]:not([data-slide-type=title]) {background-color:#f8ffff;}

.slide[data-slide-style=futuristic] .h1 {color:#333 !important;}
.slide[data-slide-style=futuristic] .h2 {color:#666 !important;}

/* When slide-style is: light */

.slide[data-slide-style=light] {font-family:'Oswald';}
.slide[data-slide-style=light][data-slide-type=title] {background-color:#eff;}
.slide[data-slide-style=light]:not([data-slide-type=title]) {background-color:#f8ffff;}

.slide[data-slide-style=light] .h1 {color:#333 !important;}
.slide[data-slide-style=light] .h2 {color:#666 !important;}

/* When slide-style is: classic */

.slide[data-slide-style=classic] {font-family:'Times New Roman';}
.slide[data-slide-style=classic][data-slide-type=title] {background-color:#ffe;}
.slide[data-slide-style=classic]:not([data-slide-type=title]) {background-color:#fffff8;}

.slide[data-slide-style=classic] .h1 {color:#333 !important;}
.slide[data-slide-style=classic] .h2 {color:#666 !important;}

/* When slide-style is: eckart-old */

.slide[data-slide-style=eckart-old] {color:#000 !important;font-family:'Open Sans';}
.slide[data-slide-style=eckart-old][data-slide-type=title] {background-color:#fedd58;background-image:url('../img/bg/bg-eckart-old-title.png');}
.slide[data-slide-style=eckart-old]:not([data-slide-type=title]) {background-color:#fff;}

.slide[data-slide-style=eckart-old] .h1 {font-family:'Meran Black';color:#000 !important;}
.slide[data-slide-style=eckart-old] .h2 {font-family:'Meran Black';color:#969492 !important;}

/* When slide-style is: eckart-new */

.slide[data-slide-style=eckart-new] {color:#000 !important;font-family:'Open Sans';}
.slide[data-slide-style=eckart-new][data-slide-type=title] {background-color:#c9c9c9;}
.slide[data-slide-style=eckart-new]:not([data-slide-type=title]) {background-color:#fff;}

.slide[data-slide-style=eckart-new] .h1 {font-family:'Meran Black';color:#000 !important;}
.slide[data-slide-style=eckart-new] .h2 {font-family:'Meran Black';color:#bb0d78 !important;}

/* When slide-style is: segment */

.slide[data-slide-style=segment] {font-family:'Questrial';}

.slide[data-slide-style=segment][data-slide-type=title] {background-color:#3698c1;background-image:url('../img/bg/bg-segment-title.png');}
.slide[data-slide-style=segment]:not([data-slide-type=title]) {background-color:#3698c1;background-image:url('../img/bg/bg-segment-default.png');}

.slide[data-slide-style=segment][data-slide-type=title] h1{display:inline;-webkit-box-reflect: below -32px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.3)));}

.slide[data-slide-style=segment] {color:#002060 !important;}
.slide[data-slide-style=segment] h1 {color:#fff !important;}
.slide[data-slide-style=segment] ul > ul > li:before, .slide[data-slide-style=segment] ul:not(.slider-dots) > li:before { color:#fff  !important; }

/* When slide-style is: yacht */

.slide[data-slide-style=yacht] { font-family:'Roboto'; }
.slide[data-slide-style=yacht] { background-color:#00517C; }

.slide[data-slide-style=yacht][data-slide-type=title] { background-color:#00517C; }

.slide[data-slide-style=yacht] .title-container { position:relative;font-family:'Roboto Slab'; }

.slide[data-slide-style=yacht]:not([data-slide-type=title]  ) .title-container { height:calc(15% + 33px) !important;position:relative;font-family:'Roboto Slab'; }
.slide[data-slide-style=yacht]:not([data-slide-type=content]) .slide-container { height:calc(85% - 33px) !important; }

.slide[data-slide-style=yacht][data-slide-type=title] .title-container:after,
.slide[data-slide-style=yacht][data-slide-type=title] .title-container:before
{ width:20em;height:20em;content:'';display:block;border:3px solid #8bc34a;position:absolute; }
.slide[data-slide-style=yacht][data-slide-type=title] .title-container:before {  left:0;   top:0;border-right:none;border-bottom:none; }
.slide[data-slide-style=yacht][data-slide-type=title] .title-container:after  { right:0;bottom:0; border-left:none;border-top   :none; }

.slide[data-slide-style=yacht][data-slide-type=title]  h1,
.slide[data-slide-style=yacht][data-slide-type=title]  h2 { width:100%; }
.slide[data-slide-style=yacht][data-slide-type=title]  h1:after { margin:30px auto 0 auto; }
.slide[data-slide-style=yacht][data-slide-type=title]  h2:after { margin:30px auto 0 auto;content:attr(data-content); }

.slide[data-slide-style=yacht] * { color:#fff; }
.slide[data-slide-style=yacht] h1:after { content:'';width:1.5em;display:block;margin:25px 0 0 0;border-bottom:3px solid #039be5; }
.slide[data-slide-style=yacht] h2, .slide[data-slide-style=yacht] h2 * { color:#8bc34a; }
.slide[data-slide-style=yacht] h2 { font-size:5.1em !important; }

/* When slide-style is: space */

.slide[data-slide-style=space] {font-family:'TeXGyreAdventor';}

.slide[data-slide-style=space][data-slide-type=title] {background-color:#443f4b;background-image:url('../img/bg/bg-space-title.png');}
.slide[data-slide-style=space]:not([data-slide-type=title]) {background-color:#726f78;background-image:url('../img/bg/bg-space-default.png');}

.slide[data-slide-style=space] {color:#fff !important;text-shadow:0px 0px 5px #151515;}
.slide[data-slide-style=space] .h1, .slide[data-slide-style=space] .h3 {text-shadow:0px 0px 10px #151515;}
.slide[data-slide-style=space] .h2 {color:#151515 !important;text-shadow:0px 0px 10px #fff;}

/* When slide-style is: note */

#V .slide[data-slide-style=note] {font-family:'Indie Flower';}

#V .slide[data-slide-style=note][data-slide-type=title] {background-color:#ffef88;}
#V .slide[data-slide-style=note]:not([data-slide-type=title]) {background-color:#ffef88;}

#V .slide[data-slide-style=note] {color:#000 !important;}
      
#V.note{background-image:url('http://wallpapercave.com/wp/ab7sX4F.jpg');}

/* When slide-style is: puzzle (dark version) */

#V .slide[data-slide-style=dev1] {font-family:Verdana, Arial, sans-serif;color:white !important;}
#V .slide[data-slide-style=dev1].dia {border:1px solid white;}

#V .slide[data-slide-style=dev1] .h1 {font-family:Oswald, Verdana, Arial, sans-serif;color:white !important;}
#V .slide[data-slide-style=dev1] .h2 {font-family:Oswald, Verdana, Arial, sans-serif;color:#aaa !important;}
      
#V.dev1{background-size:cover;background-image:url('http://www.pptbackgrounds.org/uploads/elegant-grey-illumination-background-presentations-powerpoint-backgrounds.jpg');}

/* When slide-style is: puzzle (light version) */

#V .slide[data-slide-style=dev2] {font-family:Verdana, Arial, sans-serif;color:#333 !important;}
#V .slide[data-slide-style=dev2].dia {border:1px solid #333;}

#V .slide[data-slide-style=dev2] .h1 {font-family:Oswald, Verdana, Arial, sans-serif;color:#333 !important;}
#V .slide[data-slide-style=dev2] .h2 {font-family:Oswald, Verdana, Arial, sans-serif;color:#666 !important;}

#V.dev2{background-size:cover;background-image:url('http://wallpapercave.com/wp/ab7sX4F.jpg');}

/* When slide-style is: puzzle (light) */

#V .slide[data-slide-style="puzzle-light"] {font-family:Verdana, Arial, sans-serif;color:#333 !important;}
#V .slide[data-slide-style="puzzle-light"].dia {border:1px solid #333;}

#V .slide[data-slide-style="puzzle-light"] .h1 {font-family:Oswald, Verdana, Arial, sans-serif;color:#333 !important;}
#V .slide[data-slide-style="puzzle-light"] .h2 {font-family:Oswald, Verdana, Arial, sans-serif;color:#666 !important;}

#V.puzzle-light{}

/* When slide-style is: puzzle (tree background) */

#V .slide[data-slide-style="puzzle-tree"] {font-family:Verdana, Arial, sans-serif;color:#333 !important;}
#V .slide[data-slide-style="puzzle-tree"].dia {border:1px solid #333;}

#V .slide[data-slide-style="puzzle-tree"] .h1 {font-family:Oswald, Verdana, Arial, sans-serif;color:#333 !important;}
#V .slide[data-slide-style="puzzle-tree"] .h2 {font-family:Oswald, Verdana, Arial, sans-serif;color:#666 !important;}

#V.puzzle-tree{background-size:cover;background-image:url('https://lh3.googleusercontent.com/0Ihb-sxfJCN53KfwT5272Iq7ECVE4MMXEU9gjoY3nKch5PnIIaQ3bDSXMEHILK9ye13ju_bm6YNxRtC5NSoUfMpo_65oOeNTxyCcVa8lS6gWtRZWgTyNomTIKP6oxYTY02F2fKKEukIl6pl2_s72IKLior-Y8yXs3LX71bmv_2ygpDLD5RH0nDpdL_cqFDH9LQDcUr0udq3ZDQsNPicLKmzWYoDkkaOmLJry8zexR4X_aNdfbnJcwOHLTiFGwqTsmYxN5dw_1sCND04V53FJyaRD4jBw7qz0JRdWLLjO_lS-rPC1diritzuK0-9fUVv5_HOBVzBgjQfssuDk6VcNc6S12SeaBkX-GTkv8GO_KYxUg_l99cKpQnuQ_TfvgG39lhfmJk37JVHgdXXc2OYT_ZU3o4DEwtN-pxSvj3DnRLpuABCM22XcmIevUwQrNuUvBXywd7gGFORHwoDk1U2YKA9G_G64Bo9msTS1LKBnb9Ktw02z-59UMt8VcKz_Vf1_lEWGfWVkaxc-RZO2A-L3eQBfY-eRslipg79bHrI6owGs8C5ClHrdCRSEQMgcsAeECGNBK83Z8Rm3bYj1kf28AkEbCwMaruek9EYqkH5bdG2TQ3HU=w956-h637-no');}